.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
ipch/
x64/
Win32/
Debug/
Release/
Builds/VisualStudio2022/x64/
Builds/VisualStudio2022/.vs/
Builds/VisualStudio2022/Debug/
Builds/VisualStudio2022/Release/
Builds/VisualStudio2022/**/*.tlog
Builds/VisualStudio2022/**/*.obj
Builds/VisualStudio2022/**/*.pdb
Builds/VisualStudio2022/**/*.ilk
Builds/VisualStudio2022/**/*.exe
Builds/VisualStudio2022/**/*.dll
Builds/VisualStudio2022/**/*.lib
Builds/VisualStudio2022/**/*.exp
Builds/VisualStudio2022/**/*.log
Builds/VisualStudio2022/**/*.ipdb
Builds/VisualStudio2022/**/*.iobj
